%body
  .chat-main
    .RightHeader
      .RightHeader__group
        .RightHeader__group-name
        %ul.RightHeader__memberlist 
          Member：
          %li.RightHeader__member
      = link_to "#", class: "RightHeader__edit-button" do
        Edit
    .message__field
      .message__box
        .message__info
          .message__info__user-name
          .message__info__date
        .message
          %p.message__content
    .form
      %form.new_message
        .input-box
          %input{type: "text", class: "input-box__text", placeholder: "type a message"}
          %label{class: "input-box__image"}
            = icon('fas', 'image')
            %input{type: "file", class: "input-box__image__file"}
        %input{type: "submit", class: "submit-btn"}
        