* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-ber {
  &__user-name{
    background-color: #253141;
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    width: 300px;
    padding: 20px;
    .group {
      color: white;
      text-decoration: none;
      margin-bottom: 40px;
      &__group-name {
        font-size: 15px;
      }
      &__latest-message {
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}

.top-items{
  height: 20px;
  width: 260px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__name{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
  }
  &__icons{
    list-style: none;
    display: flex;
    width: 60px;
    justify-content: flex-end;
    &__btn{
      color: #ffffff;
      text-decoration: none;
    }
    &__cog{
      padding: 0 0 0 5px;
    }
  }
}

.chat-main {
  width: calc(100vw - 300px);
  .RightHeader{
    background-color: #ffffff;
    height: 100px;
    justify-content: space-between;
    display: flex;
    padding: 0 40px;
    &__group-name{
        color: #333333;
        margin: 35px 0 15px 0;
      }
    &__memberlist  {
      display: flex;
      color: #999999;
      font-size: 12px;
    }
    &__edit-button {
      display: block;
      border: 1px solid #38aef0;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;  
      padding: 0 20px;
      font-size: 16px;
      color: #38aef0;
      text-decoration: none;
    }
  }
  .message__field{
      background-color: #fafafa;
      height: calc(100vh - 190px);
      box-sizing: border-box;
      padding: 35px 40px 0;
      overflow: scroll;
    .message__box{
      margin-bottom: 46px;
      .message__info{
        display: flex;
        &__user-name{
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &__date{
          color: #999999;
          font-size: 12px;
        }
      }
    }
      .message{
        margin-top: 12px;
        &__content{
          color: #434a54;
          font-size: 14px;
        }
      }
  }
  form{
    background-color: #d2d2d2;
    height: 90px;
    display: flex;
    padding: 20px 50px 20px 40px;
    .new_message{
      display: flex;
      justify-content: space-between;
    }
    .input-box{ 
      position: relative;
      width: 100%;
      &__text {
        height: 50px;
        width: 100%;
        border-style: none;
        padding: 0 45px 0 15px;
      }
      &__image{
        height: 50px;
        position: absolute;
        right: 10px;
        .fas{
          line-height: 50px;
          font-size: 25px;
        }
        &__file{
          display: none;
        }
      }
    }
    .submit-btn{
      background-color: #38aef0;
      color: #ffffff;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
      border: none;
    }
  }
}